{{ define "main" }}

{{ partial "page-header.html" . }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-5 col-md-8 text-center mb-5 mb-lg-0" data-aos="fade-up">
        <div class="pr-0 pr-lg-5">
          {{ if fileExists (add `assets/` .Params.book_image) }}
          {{$img:= resources.Get .Params.book_image }}
          {{$img:= $img.Resize "575x"}}
          <img loading="lazy" decoding="async" class="img-fluid" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$img.RelPermalink}}" alt="cobtact image" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
          {{end}}
        </div>
      </div>
      {{with site.Params.book_form_action}}
      <div class="col-lg-5 col-md-10" data-aos="fade-up">
        <div class="contact-form">
          <div class="mb-4">
            <h3>Book A Consultation (GH₵50.00)</h3>
          </div>
          <form id="book-form" method="POST">
            <p id="form-status" class="form-status"></p>
            <div class="form-group">
              <label for="first-name">First Name</label>
              <input class="form-control shadow-none" id="first-name" name="full_name" type="text" placeholder="First Name" required>
            </div>

           <div class="form-group">
              <label for="last-name">Last Name</label>
              <input class="form-control shadow-none" id="last-name" name="full_name" type="text" placeholder="Last Name" required>
            </div>

            <div class="form-group">
              <label for="email">Email Address</label>
              <input class="form-control shadow-none" id="email" name="full_name" type="text" placeholder="Email Address" required>
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input class="form-control shadow-none" id="phone" name="phone" type="tel" placeholder="Phone Number" required>
            </div>

            <div class="form-group">
              <label for="date-time">Preferred Time</label>
              <input class="form-control shadow-none" id="date-time" name="date-time" type="datetime-local" placeholder="Phone Number" required>
            </div>
            <div class="form-group">
              <label for="reason">Reason for consultation</label>
              <textarea class="form-control shadow-none" id="reason" name="reason" rows="4"></textarea>
            </div>
            <div>
              <p>Kindly note that consultations typically run for up to 30 minutes</p>
            </div>

            <button class="btn btn-primary w-100 mt-4" type="submit" onclick="payWithPaystack()" aria-label="Book Consultation">Book Consultation</button>
          </form>
        </div>
      </div>

      <script src="https://js.paystack.co/v1/inline.js"></script>
      <script>
        const paymentForm = document.getElementById('book-form');
        paymentForm.addEventListener("submit", payWithPaystack, false);
        function payWithPaystack(e) {
          e.preventDefault();
          let handler = PaystackPop.setup({
            // key: 'pk_test_da99df0251f8b74e1147d3a19f63e8a5fb954514',
            key: 'pk_live_4507894768036c4dabfd58da34c55d75b72e597b',
            currency: 'GHS',
            email: document.getElementById("email").value,
            amount: 50 * 100,
            metadata: {
              firstName: document.getElementById("first-name").value,
              lastName: document.getElementById("last-name").value,
              reason: document.getElementById("reason").value,
              time: document.getElementById("date-time").value,
              phone: document.getElementById("phone").value,
            },
            firstName: document.getElementById("first-name").value,
            lastName: document.getElementById("last-name").value,
            // label: "Optional string that replaces customer email"
            onClose: function(){
              alert('Are you sure you want to cancel?.');
            },
            callback: function(response){
              window.location.href = "/thank-you";

            }
          });
          handler.openIframe();
        }
      </script>

      {{end}}
    </div>

  </div>
</section>

{{ end }}
